.contact-info{
    padding-top:10px;
    margin-left:5%;
    font-weight:bold;    
    font-size:1em;
    line-height:1.5;    
    }

.contact-info a:hover{
    color:#B56900;   
    text-decoration: none;
}

.contact-info a:visited{
    color:#B56900;  
    text-decoration:none;
}

.contact-header{
    margin:15px 5px 0px 15px;
    font-size:1.7em; 
  
}

