/******************************************
	CSS RESET & GLOBAL
*******************************************/

@import 'cssReset';
//@import 'general';

html {
   overflow: hidden;
}

$nav: rgb(255, 222, 140);
$header-bg: rgb(117, 103, 50);

/********************************************
	HEADER/FOOTER
*********************************************/

header {
   height: 200px;	
   & #header-bg{
      overflow: hidden;
      & img {
         width: 100%;
         height: 100%;
      }
   }
}

#main-nav {
   height: 30px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   & ul {
      display: flex;
      justify-content: space-between;
   }
   & > ul {
      position: relative;
      & > li {
         width: 12.5%;
         height: 50px;
         & > a {
            background: $nav;
            display: block;
            width: 100%;
            height: 100%;
            padding: 18px 10px;
            color: black;
            font-size: 14px;
            &:hover{
               text-decoration: none;
               background: rgb(172, 122, 0);
               color: white;
               transition: 200ms;
            }
         }
         &:nth-child(3) > a,
         &:nth-child(8) li a {
            padding-top: 11px;
         }
         & ul {
            display: none;
            position: absolute;
            top: 50px; // height of main nav
            & li {
               height: 50px;
               min-width: 100%;
               padding-left: 0;
               & a {
                  background: $nav;
                  display: block;
//                  width: 100%;
                  height: 100%;
                  padding: 18px 40px 18px 10px;
                  color: black;
                  font-size: 14px;
                  &:hover {
                     text-decoration: none;
                     background: rgb(172, 122, 0);
                     color: white;
                     transition: 200ms;
                  }
               }
            }
         }
      }
   }
}



/********************************************
    CONTENT
*********************************************/

body {
   background-image: url(../images/fabric-2446476_1920.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; //   background-color: rgb(46, 23, 0);
   & #wrapper {
      box-shadow: 0 0 20px black;
      padding: 0;
      min-height: none;
   }
}



/********************************************
    Overlay
*********************************************/

/********************************************
    Media Queries
*********************************************/

@media screen and (max-width:960px) {}

@media screen and (max-width:640px) {}
