/******************************************
	CSS RESET & GLOBAL
*******************************************/

$nav: rgb(255, 222, 140);
$header-bg: rgb(117, 103, 50);


@import 'cssReset';
@import 'general';



/********************************************
	HEADER/FOOTER
*********************************************/

header {
	height: 200px;
	& #header-bg {
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}

#sub-header {
	height: 50px;
	background-color: $nav;
}


/********************************************
    NAV BARS
*********************************************/
@import 'navbars';



/********************************************
    Overlay
*********************************************/

/********************************************
    Media Queries
*********************************************/

@media screen and (max-width:992px) {
//	#desktop-nav {
//	  display:none;
//	  & ul{
//		 & li{
//			& a{
//		 font-size: 10px;
//			  padding-left:5px;
//			  padding-right: 5px;
//	  }
//			
//		 }
//	  }	  
//	}

	#side-nav {
		display: block;
	}
}

@media screen and (max-width:640px) {}
