/******************************************
	CSS RESET & GENERAL
*******************************************/

$nav: rgb(255, 220, 103);
$header-bg: rgb(117, 103, 50);
//$header-bg: #3e2a0f; //alt


@import 'cssReset';
@import 'general';


/********************************************
    NAV BARS
*********************************************/

@import 'navbars';


/********************************************
    HOME
*********************************************/
@import 'index';


/********************************************
    Overlay
*********************************************/

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	& .close-overlay {
		display: block;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
}



/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop
*********************************************/

// Smaller medium desktop
@media screen and (max-width:992px) {}

// Smaller than tablet
@media screen and (max-width:768px) {}
