@charset "UTF-8";
/******************************************
	CSS RESET & GENERAL
*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Lobster|Berkshire+Swash|Cinzel|Cinzel+Decorative");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********************************************
	HEADER/FOOTER
*********************************************/
header {
  height: 200px;
  overflow: hidden; }
  header #header-bg img {
    width: auto;
    min-width: 100%;
    height: 100%; }

/********************************************
	GENERAL
*********************************************/
html {
  height: 100%; }

body {
  background: #ffe9ac;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  overflow-y: scroll; }
  body #wrapper {
    min-height: 100%;
    font-size: 16px;
    box-shadow: 0 0 30px -4px black;
    padding: 0;
    position: relative;
    background: #fffde7; }

#content {
  padding: 40px 50px 60px; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
  font-weight: 700; }

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 30px 0 10px;
  padding-bottom: 6px; }

h1,
.h1 {
  font-size: 34px;
  background-color: #432d10;
  padding: 8px 16px;
  color: white;
  font-family: 'Cinzel', Helvetica, Arial, sans-serif;
  font-weight: 100; }
  h1 a,
  .h1 a {
    color: white;
    font-weight: 100;
    font-size: 24px;
    padding-top: 4px;
    float: right; }
    h1 a:hover,
    .h1 a:hover {
      text-decoration: none;
      color: #e58500; }

h2,
.h2 {
  font-size: 30px;
  border-bottom: 1px solid rgba(108, 99, 0, 0.33); }

.top-h2 {
  margin-top: 0; }

h3,
.h3 {
  font-size: 24px;
  border-bottom: none; }

h4,
.h4 {
  font-size: 22px;
  border-bottom: none; }

h5,
.h5 {
  font-size: 20px;
  border-bottom: none; }

h6,
.h6 {
  font-size: 18px;
  border-bottom: none; }

blockquote.blockquote, blockquote > p {
  font-size: 18px;
  line-height: 1.4;
  padding: 0 10px 12px;
  border-left-color: #e6e6e6; }

small {
  font-size: .8em; }

strong {
  font-weight: bold; }

sup {
  font-size: 0.7em; }

.blockquote {
  border-left-color: #d3d3d3; }

p {
  font-size: 18px;
  line-height: 1.4; }

a {
  font-weight: bold;
  color: #7c4800;
  text-decoration: none;
  font-family: 'Lato', Helvetica, Arial, sans-serif; }
  a:hover {
    color: #B56900; }

.frame {
  width: 100%;
  max-height: 100%;
  margin-bottom: 20px; }
  .frame img {
    width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 10px -2px black; }
  .frame p {
    line-height: 1.2; }

.frame-left {
  float: left;
  margin: 0 20px 20px 0; }

.frame-right {
  float: right;
  margin: 0 0 20px 20px; }

.img-10 {
  width: 10%; }

.img-20 {
  width: 20%; }

.img-30 {
  width: 30%; }

.img-40 {
  width: 40%; }

img {
  width: 100%; }

ul {
  list-style: disc;
  line-height: 1.4;
  padding-left: 20px; }
  ul li {
    margin-left: 20px; }

.top-btn {
  background: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  padding: 4px;
  color: #7c4800;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  font-size: 46px;
  margin-right: -20px;
  opacity: 0;
  transition: 300ms;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 10; }
  .top-btn:hover {
    color: #a35f00;
    transition: 200ms; }
  .top-btn:active, .top-btn:focus {
    color: #7c4800;
    border: none; }

button:focus, button:active {
  outline: none;
  border: none; }

#call-to-action {
  display: block;
  width: 160px;
  height: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  margin: 0 auto; }
  #call-to-action img {
    max-width: 100%; }

.slide-in {
  opacity: 1;
  margin: 0; }

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  position: inherit; }

hr {
  margin-top: 35px;
  margin-bottom: 35px;
  clear: both; }

/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop	- Default
*********************************************/
@media screen and (max-width: 992px) {
  header {
    height: 150px; }

  h1 a,
  .h1 a {
    font-size: 26px;
    padding-top: 6px;
    line-height: 1; }

  blockquote.blockquote, blockquote > p, p {
    font-size: 16px; }

  .img-10 {
    width: 15%; } }
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 24px; }
    h1 a,
    .h1 a {
      font-size: 20px;
      padding-top: 2px;
      line-height: 1; }

  header {
    height: 100px; }

  #content {
    padding: 30px 20px 40px; }

  p,
  li,
  a {
    line-height: 1.5em; }

  .img-10,
  .img-20,
  .img-30,
  .img-40 {
    width: 40%; } }
@media screen and (max-width: 576px) {
  h1,
  .h1 {
    font-size: 24px;
    height: auto; }
    h1 a,
    .h1 a {
      display: block;
      padding-top: 2px;
      font-size: 16px;
      line-height: 1;
      width: 100%;
      float: none; } }
/********************************************
    NAV BARS
*********************************************/
#desktop-nav .sub-header {
  height: 56px;
  background-color: #ffdc67;
  position: relative; }
  #desktop-nav .sub-header .nav-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 34px; }
  #desktop-nav .sub-header nav {
    height: 56px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #ffdc67; }
    #desktop-nav .sub-header nav ul {
      z-index: 6;
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0px; }
      #desktop-nav .sub-header nav ul li {
        margin-left: 0; }
    #desktop-nav .sub-header nav > ul > li {
      width: 12.5%;
      height: 56px;
      line-height: 1; }
      #desktop-nav .sub-header nav > ul > li > a {
        position: relative;
        background: #ffdc67;
        display: block;
        width: 100%;
        height: 100%;
        padding: 18px 6px;
        color: black;
        font-size: 16px;
        font-weight: 100; }
        #desktop-nav .sub-header nav > ul > li > a:hover, #desktop-nav .sub-header nav > ul > li > a:focus, #desktop-nav .sub-header nav > ul > li > a:active {
          text-decoration: none;
          background: #ac7a00;
          color: white;
          transition: 200ms; }
      #desktop-nav .sub-header nav > ul > li:nth-child(1) {
        width: 9%; }
        #desktop-nav .sub-header nav > ul > li:nth-child(1) a {
          padding-left: 12px; }
      #desktop-nav .sub-header nav > ul > li:nth-child(2) {
        width: 16%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(3) {
        width: 15%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(4) {
        width: 10%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(6) {
        width: 8%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(7) {
        width: 14.5%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(8) {
        width: 15%; }
      #desktop-nav .sub-header nav > ul > li:nth-child(3) > a, #desktop-nav .sub-header nav > ul > li:nth-child(8) li a {
        padding-top: 8px;
        line-height: 1.2; }
      #desktop-nav .sub-header nav > ul > li ul {
        display: none;
        position: absolute;
        top: 56px;
        box-shadow: 0 5px 50px -10px black; }
        #desktop-nav .sub-header nav > ul > li ul li {
          height: 56px;
          min-width: 100%;
          padding-left: 0; }
          #desktop-nav .sub-header nav > ul > li ul li a {
            background: #ffdc67;
            display: block;
            height: 100%;
            padding: 18px 38px 18px 10px;
            color: black;
            font-weight: 100; }
            #desktop-nav .sub-header nav > ul > li ul li a:hover, #desktop-nav .sub-header nav > ul > li ul li a:focus, #desktop-nav .sub-header nav > ul > li ul li a:active {
              text-decoration: none;
              background: #ac7a00;
              color: white;
              transition: 200ms; }

#side-nav {
  display: none; }
  #side-nav nav {
    background-color: #242424;
    border-right: 1px solid #34495e;
    color: #fff;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 10px;
    border-left: 3px solid #ffdc67;
    right: -300px; }
    #side-nav nav .toggle-close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      margin-left: auto;
      background: transparent;
      border: none;
      padding: 0;
      font-size: 30px;
      cursor: pointer;
      color: white; }
      #side-nav nav .toggle-close:hover {
        color: #fff07d;
        transition: 300ms; }
    #side-nav nav ul {
      list-style: none;
      line-height: 1;
      padding-left: 0; }
      #side-nav nav ul li {
        clear: both;
        padding-top: 5px;
        cursor: pointer;
        margin: 0 0 20px 0; }
        #side-nav nav ul li ul {
          display: none;
          clear: both; }
          #side-nav nav ul li ul li {
            text-indent: 20px;
            font-size: 14px; }
        #side-nav nav ul li > a {
          display: block;
          float: left;
          padding: 10px 10px 10px 20px;
          color: white; }
          #side-nav nav ul li > a:hover, #side-nav nav ul li > a:focus, #side-nav nav ul li > a:active {
            color: #fff07d;
            text-decoration: none; }
        #side-nav nav ul li .toggle-menu {
          color: white;
          font-size: 24px;
          transition: 300ms;
          background: transparent;
          border: none;
          padding: 0;
          margin: 0;
          line-height: 1;
          cursor: pointer;
          transform: translateY(12px) rotate(180deg); }
          #side-nav nav ul li .toggle-menu:hover {
            color: #fff07d; }
          #side-nav nav ul li .toggle-menu:active, #side-nav nav ul li .toggle-menu:focus {
            border: none; }
        #side-nav nav ul li .flipped-down {
          transform: translateY(2px); }

.nav-open {
  right: 0;
  transition: 300ms ease; }

.flipped {
  transform: rotate(180deg) translateY(-12px); }

.mini-nav {
  float: right;
  width: 30%;
  background-color: #fff7a5;
  display: block;
  margin: 0 0 30px 30px;
  padding: 5px;
  border: 1px solid rgba(147, 108, 0, 0.28);
  border-radius: 5px; }
  .mini-nav ul {
    list-style: none;
    padding: 5px 5px 5px 10px; }
    .mini-nav ul li {
      margin-left: 0px;
      line-height: 1.5; }
    .mini-nav ul .h5 {
      margin: 0;
      display: block;
      width: 100%;
      padding: 5px;
      background: rgba(67, 45, 16, 0.82);
      border-radius: 2px;
      color: white; }
  .mini-nav h2 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    background: #432d10;
    color: white; }
  .mini-nav h3 {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    background: #fffbd1; }

#reproductions-nav {
  height: 40px;
  background: #ffdc67;
  position: relative;
  z-index: 5; }
  #reproductions-nav nav {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif; }
    #reproductions-nav nav > ul {
      z-index: 5;
      justify-content: space-between;
      display: flex;
      list-style: none;
      padding-left: 0px;
      height: 100%;
      text-align: center; }
      #reproductions-nav nav > ul > li {
        position: relative;
        margin-left: 0;
        height: 100%;
        width: 100%;
        line-height: 1;
        padding-top: 10px;
        text-indent: 5px;
        font-weight: bold; }
        #reproductions-nav nav > ul > li:hover {
          background: #ac7a00;
          color: white;
          transition: 200ms; }
        #reproductions-nav nav > ul > li:hover h2 {
          color: black; }
        #reproductions-nav nav > ul > li ul {
          background-color: #ffdc67;
          display: none;
          position: absolute;
          top: 40px;
          box-shadow: 0px 6px 30px -10px black;
          padding-left: 0;
          width: 100%; }
          #reproductions-nav nav > ul > li ul li {
            list-style: none;
            margin-left: 0; }
            #reproductions-nav nav > ul > li ul li h2 {
              height: 100%;
              margin: 0;
              padding: 5px;
              font-size: 16px;
              background: #fffbd1;
              border: none; }
            #reproductions-nav nav > ul > li ul li a {
              display: block;
              height: 100%;
              padding: 8px;
              color: black;
              font-weight: 100; }
              #reproductions-nav nav > ul > li ul li a:hover, #reproductions-nav nav > ul > li ul li a:focus, #reproductions-nav nav > ul > li ul li a:active {
                text-decoration: none;
                background: #ac7a00;
                color: white;
                transition: 200ms; }

#mini-rep-nav {
  position: relative;
  display: none;
  background: #ffdc67; }
  #mini-rep-nav .rep-nav-toggle {
    height: 40px;
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    background: #ffdc67; }
    #mini-rep-nav .rep-nav-toggle:hover, #mini-rep-nav .rep-nav-toggle:focus, #mini-rep-nav .rep-nav-toggle:active {
      text-decoration: none;
      background: #ac7a00;
      color: white;
      transition: 200ms; }
    #mini-rep-nav .rep-nav-toggle > p {
      float: left;
      line-height: 1;
      margin: 0;
      padding: 0;
      font-size: 18px; }
    #mini-rep-nav .rep-nav-toggle .toggle-close {
      transition: 300ms; }
    #mini-rep-nav .rep-nav-toggle .flipped-down {
      margin-left: 5px;
      font-size: 24px;
      transform: translateY(-8px); }
    #mini-rep-nav .rep-nav-toggle .flipped-up {
      margin-left: 5px;
      transform: rotate(180deg) translateY(0px);
      font-size: 24px; }
  #mini-rep-nav nav {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 9; }
    #mini-rep-nav nav .rep-nav-toggle {
      background: #ffdc67;
      text-align: center;
      font-size: 26px;
      transform: rotate(180deg);
      padding-top: 4px; }
    #mini-rep-nav nav h2 {
      margin: 0;
      padding: 5px;
      font-size: 24px;
      background: #fff9b4;
      border-bottom: none; }
    #mini-rep-nav nav h3 {
      margin: 0;
      padding: 5px;
      font-size: 18px;
      background: #fffbd1; }
    #mini-rep-nav nav ul {
      list-style: none;
      padding: 0;
      background: #ffdc67; }
      #mini-rep-nav nav ul li {
        margin: 0; }
        #mini-rep-nav nav ul li a {
          display: block;
          height: 100%;
          padding: 6px;
          color: black;
          font-weight: 100; }
          #mini-rep-nav nav ul li a:hover, #mini-rep-nav nav ul li a:focus, #mini-rep-nav nav ul li a:active {
            text-decoration: none;
            background: #ac7a00;
            color: white;
            transition: 200ms; }

/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop
*********************************************/
@media screen and (max-width: 992px) {
  #desktop-nav .sub-header {
    height: 40px; }
    #desktop-nav .sub-header nav {
      display: none; }
      #desktop-nav .sub-header nav ul li a {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px; }

  #side-nav {
    display: block; } }
@media screen and (max-width: 768px) {
  .mini-nav {
    float: none;
    width: 100%;
    margin: 0 0 30px 0; }

  #reproductions-nav {
    display: none; }

  #mini-rep-nav {
    display: block; } }
/********************************************
    HOME
*********************************************/
/********************************************
    REPRODUCTIONS - CIVILIAN
*********************************************/
.reproductions-content #catalogue {
  padding-bottom: 50px; }
  .reproductions-content #catalogue h2 {
    margin-top: 50px; }
  .reproductions-content #catalogue .clothing-items {
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.19);
    padding: 0;
    z-index: 4; }
    .reproductions-content #catalogue .clothing-items .h5 {
      height: 50px;
      background: #ffdc67;
      font-size: 16px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px; }
    .reproductions-content #catalogue .clothing-items .frame {
      height: 320px;
      background: white;
      margin: 0; }
      .reproductions-content #catalogue .clothing-items .frame img {
        display: block;
        padding: 6px;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto auto;
        box-shadow: none;
        cursor: pointer;
        transition: 300ms; }
        .reproductions-content #catalogue .clothing-items .frame img.hide-img {
          display: none;
          transition: 300ms; }
        .reproductions-content #catalogue .clothing-items .frame img.show-img {
          display: block;
          transition: 300ms; }
    .reproductions-content #catalogue .clothing-items .item-description {
      padding: 6px 10px 150px; }
    .reproductions-content #catalogue .clothing-items .item-price {
      position: absolute;
      bottom: 10px;
      width: 100%;
      font-weight: bold; }
      .reproductions-content #catalogue .clothing-items .item-price.row {
        margin-left: 0;
        margin-right: 0; }
      .reproductions-content #catalogue .clothing-items .item-price p {
        padding-bottom: 5px;
        position: relative;
        line-height: 1.2; }

/********************************************
    REPRODUCTIONS - MILITARY
*********************************************/
.military-content #naval-hat {
  margin-top: 20px;
  width: 30%; }
  .military-content #naval-hat p {
    padding: 0; }

/********************************************
    PERIOD WEDDINGS
*********************************************/
/********************************************
    ORDERING INFO
*********************************************/
.ordering-content #a1 {
  margin-top: 0; }
.ordering-content #a1 {
  float: left; }
.ordering-content ul {
  clear: left; }

/********************************************
    Overlay
*********************************************/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .overlay .close-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }

/*****************************************
     Contact Page
******************************************/
.contact-content .contact-header {
  padding-bottom: 0;
  border: none; }
.contact-content .contact-info {
  padding-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5; }
.contact-content .address-wrapper {
  margin-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8; }
.contact-content .contact-address {
  float: left; }
.contact-content .contact-map .map {
  width: 400px;
  height: 400px;
  margin-left: 40px; }
.contact-content .contact-header {
  margin: 15px 5px 0px 15px;
  font-size: 1.7em; }
.contact-content .form-header {
  font-family: 'Cinzel'; }
.contact-content form {
  width: 100%;
  background: #f0f0f0;
  border: 3px solid rgba(255, 211, 151, 0.56);
  border-radius: 10px;
  padding: 10px;
  margin: 30px auto;
  box-shadow: 0 4px 40px -14px black; }
  .contact-content form label {
    display: flex;
    padding: 4px; }
  .contact-content form input {
    margin-bottom: 10px; }
  .contact-content form textarea {
    height: 100px; }
  .contact-content form .btn {
    margin: auto;
    width: 100%; }

/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop
*********************************************/
@media screen and (max-width: 992px) {
  .contact-content .contact-map .map {
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  .contact-content .contact-map {
    margin: none;
    float: none;
    width: 100%;
    height: auto; }
    .contact-content .contact-map iframe.map {
      margin: none;
      width: 100%;
      height: 300px; }
  .contact-content .contact-address {
    float: none; } }
/****************************************
    Links
****************************************/
.links {
  padding-bottom: 20px; }
  .links .link-description p {
    margin-top: 10px;
    padding-bottom: 0; }
  .links .link a:hover {
    color: #B56900; }

/****************************************
            Gallery 
*****************************************/
.gallery-content .h6 {
  margin-bottom: 0; }
.gallery-content .gallery .col-md-2, .gallery-content .gallery .col-sm-3, .gallery-content .gallery .col-6 {
  padding: 0; }
.gallery-content .gallery .gallery-item {
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .gallery-content .gallery .gallery-item .frame {
    background: rgba(255, 255, 255, 0.46);
    padding: 4px;
    margin: 0;
    height: 240px; }
    .gallery-content .gallery .gallery-item .frame img {
      display: block;
      box-shadow: none;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto; }
      .gallery-content .gallery .gallery-item .frame img.alt-img {
        display: none; }
  .gallery-content .gallery .gallery-item .img-footer {
    margin: 0;
    padding: 4px;
    height: 50px;
    background: #ffdc67;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3; }
.gallery-content #gallery-pagination {
  display: block;
  width: 200px;
  margin: 50px auto; }
  .gallery-content #gallery-pagination:first-child {
    margin-top: 20px; }
  .gallery-content #gallery-pagination ul {
    display: flex;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0; }
    .gallery-content #gallery-pagination ul li {
      width: 25%;
      margin: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      .gallery-content #gallery-pagination ul li:last-child {
        border-right: none; }
      .gallery-content #gallery-pagination ul li:first-child a {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .gallery-content #gallery-pagination ul li:last-child a {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .gallery-content #gallery-pagination ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 5px; }
        .gallery-content #gallery-pagination ul li a:hover {
          background: #ffe65a;
          color: black;
          text-decoration: none;
          transition: 300ms; }
        .gallery-content #gallery-pagination ul li a.active {
          background: #ac7a00;
          color: white;
          box-shadow: 0 0 10px #5c4100 inset; }
        .gallery-content #gallery-pagination ul li a.disabled {
          pointer-events: none;
          cursor: default;
          color: #afafaf; }

.gallery-overlay {
  display: none;
  z-index: 15; }
  .gallery-overlay .close-overlay-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    z-index: 15; }
  .gallery-overlay .frame {
    position: relative;
    background: transparent;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: calc(50vh - 250px); }
    .gallery-overlay .frame .close-overlay-btn {
      position: fixed;
      top: 20px;
      left: 20px;
      padding: 0;
      font-size: 50px;
      background: transparent;
      color: white;
      border: none;
      cursor: pointer; }
      .gallery-overlay .frame .close-overlay-btn:hover {
        color: #ffdc67;
        transition: 300ms; }
    .gallery-overlay .frame img {
      position: absolute;
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
    .gallery-overlay .frame #caption {
      color: white;
      font-size: 30px;
      position: absolute;
      bottom: -24px;
      width: 100%;
      text-align: center; }

/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop
*********************************************/
@media screen and (max-width: 576px) {
  .gallery-content .gallery .gallery-item .frame {
    height: 220px; }
  .gallery-content #gallery-pagination {
    margin: 20px auto; }
  .gallery-content .gallery .gallery-item .frame {
    height: 180px; }

  .gallery-overlay .frame {
    width: 90%; }
    .gallery-overlay .frame .close-overlay-btn {
      top: 5px;
      left: 5px; }
    .gallery-overlay .frame #caption {
      font-size: 20px; } }
/********************************************
    Media Queries 
Extra small <576px	Small Phone
Small 		≥576px	Large Phone
Medium		≥768px	Tablet
Large			≥992px	Medium Desktop
Extra large	≥1200px	Large Desktop
*********************************************/
@media screen and (max-width: 1200px) {
  .reproductions-content #catalogue .clothing-items .item-description {
    padding-bottom: 230px; } }
@media screen and (max-width: 992px) {
  .reproductions-content #catalogue .clothing-items .h5 {
    height: 68px; }
  .reproductions-content #catalogue .clothing-items .item-description {
    padding-bottom: 200px; } }
@media screen and (max-width: 768px) {
  #a1 {
    float: left;
    width: 100%; }

  .civilian-content .frame {
    width: 90%;
    margin: auto;
    float: none; }

  .reproductions-content .mini-nav {
    width: 100%; }
  .reproductions-content #catalogue .clothing-items .h5 {
    height: 68px;
    float: none; }
  .reproductions-content #catalogue .clothing-items .frame {
    height: 250px; }
    .reproductions-content #catalogue .clothing-items .frame img {
      max-height: 100%; }
  .reproductions-content #catalogue .clothing-items .item-price .col-sm-8, .reproductions-content #catalogue .clothing-items .item-price .col-sm-6, .reproductions-content #catalogue .clothing-items .item-price .col-sm-4, .reproductions-content #catalogue .clothing-items .item-price p {
    padding-left: 5px;
    padding-right: 5px; } }
@media screen and (max-width: 576px) {
  .military-content #naval-hat {
    width: 70%;
    margin: 50px auto 0; }

  .reproductions-content #catalogue .clothing-items .frame {
    height: 200px; }
  .reproductions-content #catalogue .clothing-items .h5 {
    font-size: 18px; }
  .reproductions-content #catalogue .clothing-items .item-description {
    padding-bottom: 50px; }
  .reproductions-content #catalogue .clothing-items .item-price {
    position: static; } }

/*# sourceMappingURL=styles.css.map */
